
/* Whole Body */

body {
  background-color: #252525;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  margin: 0;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

p {
  font-weight: lighter;
}

img {
  margin: 20px 30px;
  min-width: 100px;
  padding: 5px;
  width: 15%;
}

/* Header */

header {
  background-color: #64dfdf;
  color: #252525;
  padding: 10px;
}

/* Gameboard */

.game-section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.game-option {
  border: 1px solid #FFF;
  border-radius: 10px;
  margin-left: 8%;
  padding: 0 5px;
  min-width: 200px;
}

.game-option:hover {
  background-color: #6930c3;
  border-radius: 10px;
}

.player-select {
  max-width: 600px;
}

.player-choice:hover {
  background-color: #80ffdb;
  border-radius: 10px;
}

/* Player Sections */

.player-section {
  padding: 20px;
  min-width: 90px;
  width: 10%;
}

button {
  background-color: #80ffdb;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  color: #252525;
  font-family: "Raleway", sans-serif;
  outline: none;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: #FFF;
}

.play-again-btn {
  margin-right: 2%;
  width: 25%;
}

.reset-wins-btn {
  background-color: #FE78A9;
  margin-left: 2%;
  width: 25%;
}

/* Media Queries & Hidden States */

@media only screen and (max-width: 750px) {
  .game-section {
    display: block;
  }

  .game-option {
    margin-top: 20px;
    min-width: 90px;
  }
}

.hidden {
  display: none;
}
